@charset "utf-8";
@import url("forms.css");

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}

a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}



html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.layout-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.layout-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.layout-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

/**/.layout-table,.layout-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.layout-table-all{border:1px solid #ccc}
.layout-bordered tr,.layout-table-all tr{border-bottom:1px solid #ddd}.layout-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.layout-table-all tr:nth-child(odd){background-color:#fff}.layout-table-all tr:nth-child(even){background-color:#f1f1f1}
.layout-hoverable tbody tr:hover,.layout-ul.layout-hoverable li:hover{background-color:#ccc}.layout-centered tr th,.layout-centered tr td{text-align:center}
.layout-table td,.layout-table th,.layout-table-all td,.layout-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.layout-table th:first-child,.layout-table td:first-child,.layout-table-all th:first-child,.layout-table-all td:first-child{padding-left:16px}

.layout-btn,.layout-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.layout-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.layout-btn,.layout-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

/**/.layout-disabled,.layout-btn:disabled,.layout-button:disabled{cursor:not-allowed;opacity:0.3}.layout-disabled *,:disabled *{pointer-events:none}
.layout-btn.layout-disabled:hover,.layout-btn:disabled:hover{box-shadow:none}

/**/.layout-badge,.layout-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.layout-badge{border-radius:50%}

.layout-ul{list-style-type:none;padding:0;margin:0}.layout-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.layout-ul li:last-child{border-bottom:none}

/**/.layout-tooltip,.layout-display-container{position:relative}.layout-tooltip .layout-text{display:none}.layout-tooltip:hover .layout-text{display:inline-block}
.layout-ripple:active{opacity:0.5}.layout-ripple{transition:opacity 0s}

.layout-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

/**/.layout-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.layout-dropdown-click,.layout-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.layout-dropdown-hover:hover .layout-dropdown-content{display:block}
.layout-dropdown-hover:first-child,.layout-dropdown-click:hover{background-color:#ccc;color:#000}
.layout-dropdown-hover:hover > .layout-button:first-child,.layout-dropdown-click:hover > .layout-button:first-child{background-color:#ccc;color:#000}
.layout-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.layout-check,.layout-radio{width:24px;height:24px;position:relative;top:6px}
.layout-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}

.layout-bar-block .layout-dropdown-hover,.layout-bar-block .layout-dropdown-click{width:100%}
.layout-bar-block .layout-dropdown-hover .layout-dropdown-content,.layout-bar-block .layout-dropdown-click .layout-dropdown-content{min-width:100%}
.layout-bar-block .layout-dropdown-hover .layout-button,.layout-bar-block .layout-dropdown-click .layout-button{width:100%;text-align:left;padding:8px 16px}

.layout-main,#main{transition:margin-left .4s}

.layout-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.layout-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}

.layout-bar{width:100%;overflow:hidden}.layout-center .layout-bar{display:inline-block;width:auto}
.layout-bar .layout-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.layout-bar .layout-dropdown-hover,.layout-bar .layout-dropdown-click{position:static;float:left}
.layout-bar .layout-button{white-space:normal}
.layout-bar-block .layout-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.layout-bar-block.layout-center .layout-bar-item{text-align:center}.layout-block{display:block;width:100%}

/**/.layout-responsive{display:block;overflow-x:auto}

.layout-container:after,.layout-container:before,.layout-panel:after,.layout-panel:before,.layout-row:after,.layout-row:before,.layout-row-padding:after,.layout-row-padding:before,

/**/.layout-cell-row:before,.layout-cell-row:after,.layout-clear:after,.layout-clear:before,.layout-bar:before,.layout-bar:after{content:"";display:table;clear:both}

.layout-col,.layout-half,.layout-third,.layout-twothird,.layout-threequarter,.layout-quarter{float:left;width:100%}
.layout-col.s1{width:8.33333%}.layout-col.s2{width:16.66666%}.layout-col.s3{width:24.99999%}.layout-col.s4{width:33.33333%}
.layout-col.s5{width:41.66666%}.layout-col.s6{width:49.99999%}.layout-col.s7{width:58.33333%}.layout-col.s8{width:66.66666%}
.layout-col.s9{width:74.99999%}.layout-col.s10{width:83.33333%}.layout-col.s11{width:91.66666%}.layout-col.s12{width:99.99999%}
@media (min-width:601px){.layout-col.m1{width:8.33333%}.layout-col.m2{width:16.66666%}.layout-col.m3,.layout-quarter{width:24.99999%}.layout-col.m4,.layout-third{width:33.33333%}
.layout-col.m5{width:41.66666%}.layout-col.m6,.layout-half{width:49.99999%}.layout-col.m7{width:58.33333%}.layout-col.m8,.layout-twothird{width:66.66666%}
.layout-col.m9,.layout-threequarter{width:74.99999%}.layout-col.m10{width:83.33333%}.layout-col.m11{width:91.66666%}.layout-col.m12{width:99.99999%}}
@media (min-width:993px){.layout-col.l1{width:8.33333%}.layout-col.l2{width:16.66666%}.layout-col.l3{width:24.99999%}.layout-col.l4{width:33.33333%}
.layout-col.l5{width:41.66666%}.layout-col.l6{width:49.99999%}.layout-col.l7{width:58.33333%}.layout-col.l8{width:66.66666%}
.layout-col.l9{width:74.99999%}.layout-col.l10{width:83.33333%}.layout-col.l11{width:91.66666%}.layout-col.l12{width:99.99999%}}

/**/.layout-rest{overflow:hidden}.layout-stretch{margin-left:-16px;margin-right:-16px}

/**/.layout-content,.layout-auto{margin-left:auto;margin-right:auto}.layout-content{max-width:980px}.layout-auto{max-width:1140px}

/**/.layout-cell-row{display:table;width:100%}.layout-cell{display:table-cell}
.layout-cell-top{vertical-align:top}.layout-cell-middle{vertical-align:middle}.layout-cell-bottom{vertical-align:bottom}

.layout-hide{display:none!important}.layout-show-block,.layout-show{display:block!important}.layout-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.layout-auto{max-width:95%}}
@media (max-width:600px){.layout-modal-content{margin:0 10px;width:auto!important}.layout-modal{padding-top:30px}
.layout-dropdown-hover.layout-mobile .layout-dropdown-content,.layout-dropdown-click.layout-mobile .layout-dropdown-content{position:relative}
.layout-hide-small{display:none!important}.layout-mobile{display:block;width:100%!important}.layout-bar-item.layout-mobile,.layout-dropdown-hover.layout-mobile,.layout-dropdown-click.layout-mobile{text-align:center}
.layout-dropdown-hover.layout-mobile,.layout-dropdown-hover.layout-mobile .layout-btn,.layout-dropdown-hover.layout-mobile .layout-button,.layout-dropdown-click.layout-mobile,.layout-dropdown-click.layout-mobile .layout-btn,.layout-dropdown-click.layout-mobile .layout-button{width:100%}}
@media (max-width:768px){.layout-modal-content{width:500px}.layout-modal{padding-top:50px}}
@media (min-width:993px){.layout-modal-content{width:900px}.layout-hide-large{display:none!important}.layout-sidebar.layout-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.layout-hide-medium{display:none!important}}
@media (max-width:992px){.layout-sidebar.layout-collapse{display:none}.layout-main{margin-left:0!important;margin-right:0!important}.layout-auto{max-width:100%}}

.layout-top,.layout-bottom{position:fixed;width:100%;z-index:1}.layout-top{top:0}.layout-bottom{bottom:0}

.layout-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.layout-display-topleft{position:absolute;left:0;top:0}.layout-display-topright{position:absolute;right:0;top:0}

/**/.layout-display-bottomleft{position:absolute;left:0;bottom:0}.layout-display-bottomright{position:absolute;right:0;bottom:0}
.layout-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.layout-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.layout-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.layout-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.layout-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.layout-display-container:hover .layout-display-hover{display:block}.layout-display-container:hover span.layout-display-hover{display:inline-block}.layout-display-hover{display:none}
.layout-display-position{position:absolute}

.layout-round-small{border-radius:2px}.layout-round,.layout-round-medium{border-radius:4px}.layout-round-large{border-radius:8px}.layout-round-xlarge{border-radius:16px}.layout-round-xxlarge{border-radius:32px}

.layout-row-padding,.layout-row-padding>.layout-half,.layout-row-padding>.layout-third,.layout-row-padding>.layout-twothird,.layout-row-padding>.layout-threequarter,.layout-row-padding>.layout-quarter,.layout-row-padding>.layout-col{padding:0 8px}

.layout-container,.layout-panel{padding:0.01em 16px}.layout-panel{margin-top:16px;margin-bottom:16px}

/**/.layout-code,.layout-codespan{font-family:Consolas,"courier new";font-size:16px}
.layout-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.layout-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}

/**/.layout-card,.layout-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.layout-card-4,.layout-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

/**/.layout-spin{animation:layout-spin 2s infinite linear}@keyframes layout-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}


.layout-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


.layout-opacity,.layout-hover-opacity:hover{opacity:0.60}.layout-opacity-off,.layout-hover-opacity-off:hover{opacity:1}
.layout-opacity-max{opacity:0.25}.layout-opacity-min{opacity:0.75}

/**/.layout-greyscale-max,.layout-grayscale-max,.layout-hover-greyscale:hover,.layout-hover-grayscale:hover{filter:grayscale(100%)}
.layout-greyscale,.layout-grayscale{filter:grayscale(75%)}.layout-greyscale-min,.layout-grayscale-min{filter:grayscale(50%)}

/**/.layout-sepia{filter:sepia(75%)}.layout-sepia-max,.layout-hover-sepia:hover{filter:sepia(100%)}.layout-sepia-min{filter:sepia(50%)}

.layout-xlarge{font-size:24px!important}.layout-xxlarge{font-size:36px!important}.layout-xxxlarge{font-size:48px!important}.layout-jumbo{font-size:64px!important}

.layout-border-0{border:0!important}.layout-border{border:1px solid #ccc!important}
.layout-border-top{border-top:1px solid #ccc!important}.layout-border-bottom{border-bottom:1px solid #ccc!important}
.layout-border-left{border-left:1px solid #ccc!important}.layout-border-right{border-right:1px solid #ccc!important}

.layout-section,.layout-code{margin-top:16px!important;margin-bottom:16px!important}

.layout-margin{margin:16px!important}.layout-margin-top{margin-top:16px!important}.layout-margin-bottom{margin-bottom:16px!important}
.layout-margin-left{margin-left:16px!important}.layout-margin-right{margin-right:16px!important}

.layout-padding-small{padding:4px 8px!important}.layout-padding{padding:8px 16px!important}.layout-padding-large{padding:12px 24px!important}
.layout-padding-16{padding-top:16px!important;padding-bottom:16px!important}.layout-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.layout-padding-32{padding-top:32px!important;padding-bottom:32px!important}.layout-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.layout-padding-64{padding-top:64px!important;padding-bottom:64px!important}

.layout-left{float:left!important}.layout-right{float:right!important}

.layout-button:hover{color:#000!important;background-color:#ccc!important}

.layout-transparent,.layout-hover-none:hover{background-color:transparent!important}

.layout-hover-none:hover{box-shadow:none!important}


/* Colors */

.layout-lime-green,.layout-hover-lime-green:hover{color:#000!important;background-color:#61c225!important}
.layout-white,.layout-hover-white:hover{color:#000!important;background-color:#fff!important}
.layout-black,.layout-hover-black:hover{color:#fff!important;background-color:#000!important}
.layout-grey,.layout-hover-grey:hover,.layout-gray,.layout-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.layout-light-grey,.layout-hover-light-grey:hover,.layout-light-gray,.layout-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.layout-dark-grey,.layout-hover-dark-grey:hover,.layout-dark-gray,.layout-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}

.layout-text-green,.layout-hover-text-green:hover{color:#4CAF50!important}
