@font-face {
  font-family: 'Walkway';
	src: url('Walkway_SemiBold.eot');
	src: url('Walkway_SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Walkway_SemiBold.woff') format('woff'),
		url('Walkway_SemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
#titolo{
  font-family: Walkway, Verdana;
  font-size: 30px;
}
#sottotitolo{
  font-family: Walkway, Verdana;
  font-size: 22px;
}
#text{
  font-family: Walkway, Verdana;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}
#par{
  width: 432px;
}
#space {
  width: 30px;
}
body {
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#side{
  width: 100px;
  background-color: black;
}

#main_container {
  background-color: White;
  width: 894px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  align-items: center;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: none;
    color: Black;
}
