/***** SLIDER IMMAGINI*****/
.slider{
    width: 65%;
    
    margin-top: 15pt;
    margin-bottom: 15pt;
}

.mySlides{
    display:none;
    width: 800px;
    height: 650px;
    border-radius: 17%;
    -moz-border-radius : 17px;
    -webkit-border-radius : 17px;
    -moz-box-shadow : 0 0 20px #000;
    -webkit-box-shadow : 0 0 20px #666;
}

.w3-section img{
    margin: 0 auto;
}
